/* ===AddBook==== */
.add-book-section h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 5rem;
}

.add-book-section .title p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.form-container {
  background: hsl(81, 53%, 90%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  margin: 2rem auto 5rem auto;
  overflow: hidden;
  width: 70vw;
  transition: background-color 0.25s linear;
}

.form-container.finished {
  background: hsl(10, 61%, 90%);
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin: 0 auto;
  padding: 2rem 0;
  width: 40rem;
}

.form-fields-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

label {
  font-size: 1.2rem;
}

input::placeholder {
  color: var(--placeholder-color);
}

.form-fields-container input:not(input[type='radio'], input.own-version) {
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  font-size: 1.1rem;
  padding-left: 0.5rem;
  height: 2rem;
}

.submit-btn {
  background-color: hsl(81, 53%, 70%);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  width: 20rem;
  transition: all 0.2s linear;
}

.submit-btn:hover {
  background-color: hsl(81, 53%, 75%);
}

.submit-btn:active {
  background-color: hsl(81, 53%, 65%);
}

fieldset {
  border: none;
}

/* Alert */
.alert-container {
  height: 0;
  transition: all 0.4s linear;
}

.alert-container.show {
  height: 1.5rem;
}

.alert {
  padding: 0.5rem 3rem;
  border-radius: 0.4rem;
  animation: 5s linear slidein;
  transition: all 0.4s linear;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.alert-success {
  background-color: hsl(81, 53%, 70%);
}

/* switch */
.form-container .switch {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: hsl(50, 92%, 96%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.switch-title {
  font-size: 1.3rem;
}

.switch-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.switch-btn {
  display: flex;
  border-radius: 0.3rem;
  overflow: hidden;
}

label[for='new'] {
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: hsl(81, 53%, 80%);
}

label[for='finished'] {
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  background-color: hsl(10, 61%, 80%);
}

#new:checked + label[for='new'] {
  background-color: hsl(81, 53%, 55%);
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

#finished:checked + label[for='finished'] {
  background-color: hsl(10, 61%, 65%);
  box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.3);
}

/* image */
.footnote {
  margin-top: -0.1rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* select genre */
div.genre-container {
  display: grid;
}

select,
input.own-version {
  height: 2rem;
  font-size: 1.1rem;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  padding-left: 0.5rem;
}

select {
  height: 2.1rem;
  padding-right: 0.3rem;
  border-radius: 0.3rem 0 0 0.3rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

input.own-version {
  border-radius: 0 0.3rem 0.3rem 0;
}

/* pages - year - age */
div.pages-year-age-container {
  display: grid;
  grid-template-columns: 10rem 10rem auto;
  gap: 2rem;
}

.pages,
.yearOfWriting {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* age restriction */
input[type='radio'] {
  display: none;
}

.ageRestriction p {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.ageRestriction-container {
  border-radius: 0.3rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 2.1rem;
  display: flex;
}

.age-label {
  background: white;
  padding: 0.2rem 0.78rem;
  cursor: pointer;
  border-left: 1px solid var(--border-color-form);
  transition: all 0.3s linear;
}

.age-label:hover {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.age-label.first {
  border-left: none;
}

[type='radio']:checked + .age-label {
  background-color: hsl(81, 53%, 70%);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

/* description */
textarea {
  height: 10.3rem;
  font-size: 1.1rem;
  border: none;
  resize: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 0.3rem 0 0 0.5rem;
  color: var(--text-color);
  font-family: 'Lora', serif;
  max-height: 20rem;
}
